body {
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/img/Монтажная область 1 (1).png');
    background-size: cover;
    background-position: center;
}

form {
    width: 60%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Прозрачный цвет фона */
    backdrop-filter: blur(1px); /* Эффект размытия фона */
    box-shadow: 0 0 10px rgba(183, 29, 29, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

input[type="submit"] {
    background-color: #4CAF50; /* Зелёный цвет */
    color: white;
}
